<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Recipe List</title>
    </head>
    <body>
        <h1>Recipe Book</h1>
        <h2>Welcome to the Recipe List!</h2>
        <h3>Here are the recipes that we currently have access to...</h3>
        <ul>
            {% for recipe in recipe_container %}
                <li>
                    <strong>{{ recipe.name }}</strong>
                    <ul>
                        {% for recipe_ingredient in recipe.recipes.all %}
                            <li>{{ recipe_ingredient.ingredient }} --- {{ recipe_ingredient.quantity }}</li>
                        {% endfor %}
                    </ul>
		    <!-- fix later -->
		    <a href="{% url 'ledger:recipe_detail' recipe.pk %}">View Recipe</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
